/*=========================Reset=============================*/

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *:after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;

    font-family:'Roboto', sans-serif;
}

.wrapper{
    width: 1100px;
    margin: 0 auto;
}

/*===============header=================*/

header{
    background-color: #34495E;
    height: 200px;
}

header h1{
font-family:'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif ;
font-size: 96px;
font-weight: 700;
color: white;
letter-spacing: 25px;
text-align: center;
padding-top: 50px;
}

/*===============Slogan=================*/

.Slogan{
text-align: right;
font-size: 48px;
font-weight: 100;
font-family: 'Lato' , 'sans serif';
letter-spacing: 4px;
height: 230px;
display: flex;
flex-direction: column;
justify-content: center;
}

/*===============regle=================*/

a :hover{
    background-color: #BDC3C7;
}

.article a{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cercle {
    width: 150px;
    height: 150px;
    text-align: center;
    color: #D35400;
    font-size: 24px;
    font-weight: 700;
    border-radius: 50%;
    background-color: white;
    border: 5px solid #D35400;
    line-height: 140px;
}

.guillemets .wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.texte{
    font-family: "Quicksand", sans-serif;
    font-size: 36px;
    line-height: 60px;
    color: #000000;
}

.regle a{
    text-decoration: none;
}


/*===============Info=================*/

.info .wrapper{

    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height: 2;
    font-size: 20px;    
} 

.info p{
    padding: 30px;
    text-align: left;
}

.info p span{
    font-weight: 700;
}

/*===============Footer=================*/
footer {
    background-color: #2980B9;
}                        

footer .wrapper {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    height: 100px;
  }

  footer p {
    font-size: 20;
    font-weight: 700;
}

.material-symbols-outlined{
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    border-radius: 50%;
    background-color: white;
    border: 2px solid #BDC3C7;
}